@page "/chat"
@attribute [Authorize()]
@inject NavigationManager navigationManager
@inject IChatService ChatService
@using Microsoft.AspNetCore.SignalR.Client;
@using System.Diagnostics
@using SmartVaultClient.Models.Chat


    <div class="alert alert-secondary mt-4" role="alert">
        <span class="oi oi-person mr-2" aria-hidden="true"></span>
        @* <span>Token count: <b>@(_user?.TokensUsed)/@(_user?.ApiServiceCallLimit)</b></span> *@
    </div>
    
   <div id="scrollbox">
        @foreach (var item in _messages)
        {
            @if (item.IsNotice)
            {
                <div class="alert alert-info">@item.Body</div>
            }
            else
            {
                <div class="@item.CSS">
                    <div class="user">@item.Username</div>
                    <div class="msg">@item.Body</div>
                </div>
            }
        }
        <hr />
        <textarea class="input-lg" placeholder="enter your comment" @bind="@_newMessage"></textarea>
        <button class="btn btn-default" @onclick="@(() => SendMessage(_newMessage))">Send</button>
    </div>


@code {
    // name of the user who will be chatting
    private User? _user;

    // on-screen message
    private string? _message;

    // new message input
    private string? _newMessage;

    // list of messages in chat
    private List<Message> _messages = new List<Message>();

    private string? _hubUrl;
    private HubConnection? _hubConnection;
    protected override async Task OnInitializedAsync()
    {
        @* await Task.Run(() => _user = AccountService.User); *@

        @* await StartChatConnection(); *@
    }

    


    private async Task SendMessage(string message)
    {
        if (!string.IsNullOrWhiteSpace(message))
        {
            ChatRequestDTO reqDTO = new(){
                Prompt = message
            };
            @* await _hubConnection.SendAsync("Broadcast", _user?.Email, message); *@
            ChatResponseDTO? res = await ChatService.ChatAndGetResponse(reqDTO);
            _newMessage = string.Empty;
            Console.WriteLine(res?.PromptResponse);
        }

    }

    private class Message
    {
        public Message(string username, string body, bool mine)
        {
            Username = username;
            Body = body;
            Mine = mine;
        }

        public string Username { get; set; }
        public string Body { get; set; }
        public bool Mine { get; set; }

        public bool IsNotice => Body.StartsWith("[Notice]");

        public string CSS => Mine ? "sent" : "received";
    }
}